<div class="banner-container">
  <div class="banner-info">
    <div>
      <p class="banner-title">What will you watch tonight ?</p>
    </div>
  </div>
</div>
<div class="movie-category">
  <p class="category-title">Movie Lists</p>
</div>
<div class="container">
  <div class="lists">
  <% @lists.each do |list| %>
  <div class="left-border">
    <div>
      <div class="list-box">
        <div class="row">
          <div class="col-lg-6">
            <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
          </div>
          </div>
          <div class="col-lg-6">
            <h3 class="list-title"><%= list.name %> List</h3>
            <p class="click-text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac interdum tellus. </p>
            <span class="click">
              <%= link_to "More info", list_path(list), class:"btn-click"%>
            </span>

          </div>
        </div>
      </div>

    </div>
  </div>
  <% end %>
</div>
</div>
